<!DOCTYPE html>
<html>
    <%-  include('partials/head') %>


  <body>
    <%- include('partials/header') %>


    <main class="detalleproducto">
      
      <div class="volver">
        <i class="fas fa-angle-left"></i><a href="/productos"><span> Ver más de <b><%= producto.product_name %></b></span></a>
      </div>

      <div class="inicial">
         
          <h1><%= producto.product_name %></h1> 
          <p class="skumobile"> <%= producto.sku %> </p>

          <div class="carrucel">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner mb-5">
                <div class="carousel-item active ml-3">
                  <img src="/images/productos/<%= producto.image %>" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item ml-3 ">
                  <img src="/images/productos/<%= producto.image %>" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item ml-3">
                  <img src="/images/productos/<%= producto.image %>" class="d-block w-100" alt="...">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>


      </div>
      </div>
  
        <div class="definicion">
          
          <div class="textodekstop">
          
            <h1><%= producto.product_name %></h1>

          </div>

          <p class="sku"><%= producto.sku %></p>

          <hr class="detalledekstop">

          <h6>Color</h6>
          <div class="coloresdetalle">
            <i class="fa fa-circle text-light"></i>
            <i class="fa fa-circle text-danger"></i>
            <i class="fa fa-circle text-black"></i>
          </div>

          <hr class="detalledekstop">

          <p class="descripcion"><%= producto.description %></p>

          <hr class="detalledekstop">

          <div class="precioystock">
          <h2>$<%= toThousand(producto.price - producto.price * producto.discount /100); %></h2>
        
          <div class="count">
          <h3 class="countdetalle">Stock</h3>
          <input class="inputdetalle" type="number" value="1">
        </div>

        </div>

          <% if(producto.discount != 0){ %> 
          <h3> <i class="fas fa-tag"></i>&nbsp;<%= producto.discount %> % OFF </i></h3>
          <% }  %> 

          

          <div class="comprar">
            <button class="comprar" type="submit"><a class="comprar" href=""> Comprar ahora</a> </button> <br>
            <button class="carrito" type="submit"><a class="carrito" href="../carrito"><i class="fas fa-shopping-cart"></i> Agregar al carrito </a></button>
          </div>
 
</div>

            </div>



      

    
      

    <div class="sliderdetalle">

      <h2 class="mt-5 ml-3 mb-4">Tambien te puede interesar</h2>



      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner mb-5">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-sm-4 col-md-3"><img src="/images/productos/<%= producto.image %>" class="d-block w-100" alt="primero"></div>
              <div class="col-sm-4 col-md-3"><img src="/images/productos/<%= producto.image %>" class="d-block w-100" alt="segundo"></div>
              <div class="col-sm-4 col-md-3"><img src="/images/productos/<%= producto.image %>" class="d-block w-100" alt="tercero"></div>
              <div class="col-sm-4 col-md-3"><img src="/images/productos/<%= producto.image %>" class="d-block w-100" alt="cuarto"></div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-sm-4 col-md-3"><img src="/images/productos/<%= producto.image %>" class="d-block w-100" alt="primero"></div>
              <div class="col-sm-4 col-md-3"><img src="/images/productos/<%= producto.image %>" class="d-block w-100" alt="segundo"></div>
              <div class="col-sm-4 col-md-3"><img src="/images/productos/<%= producto.image %>" class="d-block w-100" alt="tercero"></div>
              <div class="col-sm-4 col-md-3"><img src="/images/productos/<%= producto.image %>" class="d-block w-100" alt="cuarto"></div>
            </div>
          </div>
        </div>
      </div>



    </div>



  </main>

    
      <%- include('partials/footer') %> 

      <%- include('partials/scripts') %> 




    </body>
</html>
