<!DOCTYPE html>
<html>
    <%-  include('partials/head') %>
<!--     <link rel='stylesheet' href='/stylesheets/detalle.css' /> -->


  <body>
    <%- include('partials/header') %>

    <div class="producto">
      
    <div class="volver">
      <i class="fas fa-angle-left"></i><a href=""><span> Ver más de <b>Notebooks Gamer</b></span></a>
    </div>

    <div class="inicial">
      <% [productDetail].forEach(producto => { %>
        <h1><%= producto.product_name %></h1>
        <div class="carrucel">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/productos/gamer.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/productos/gamer.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
        </div>
  
        <div class="imagenescritorio">
          <img src="/images/productos/gamer.jpg" alt="">
        </div>
        <div class="imagenesbis">
          <img src="/images/productos/gamer.jpg" alt="">
          <img src="/images/productos/gamer.jpg" alt="">
          <img src="/images/productos/gamer.jpg" alt="">
        </div>
        </div>
  
        <div class="definicion">
          <h2>$<%= producto.price %></h2>
          <h3>12 cuotas s/interes a Precio de Lista</h3>
          <div class="detalle">
            <span><i class="fas fa-credit-card"></i>Precío de lista $<%= producto.price %></span>
            <span><i class="fas fa-shield-alt"></i>Garantía</span>
            <span><i class="fas fa-truck"></i>Envíos a toda la Argentina</span>
          </div>
  
          <select name="" id="">
            <option value="" selected>1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
          </select>
  
          <button class="carrito" type="submit"><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
  
          <div class="comprar">
          <button class="comprar" type="submit">Comprar ahora</button>
        </div>
        </div>
  
  
        <div class="entrega">
          <h3>Formas de entrega</h3>
          <div class="metodos">
            <span><a href=""></a><i class="fas fa-store-alt"></i>Retiro en sucursal</span>
            <span><a href=""></a><i class="fas fa-truck"></i>Envío rapido a toda la Argentina</span>
          </div>
        </div>
  
        <div class="definiciones">
          <h4>Descripciones</h4>
          <p><%= producto.description %>.</p>
        </div>
  
        <div class="secciones">
          <h4>Especificacíones</h4>
          <div class="seccion">
            <div class="detalle1">
            <h3>Detalle 1</h3>
              <hr width="100%">
            <ul>
     
              <li>
                <h5>Item 1</h5>
                <span>Respuesta 1</span>
              </li>
  
              <li>
                <h5>Item 2</h5>
                <span>Respuesta 2</span>
              </li>
  
              <li>
                <h5>Item 3</h5>
                <span>Respuesta 3</span>
              </li>
            </ul>
          </div>
  
          <div class="detalle2">
            <h3>Detalle 2</h3>
            <hr width="100%">
            <ul>
     
              <li>
                <h5>Item 1</h5>
                <span>Respuesta 1</span>
              </li>
  
              <li>
                <h5>Item 2</h5>
                <span>Respuesta 2</span>
              </li>
  
              <li>
                <h5>Item 3</h5>
                <span>Respuesta 3</span>
              </li>
            </ul>
          </div>
        </div>
      <% }) %>
        

      </div>
      <%- include('partials/footer') %> 

      <%- include('partials/scripts') %> 



    </body>
</html>
