<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %>

    <div class="login">
    <h1>Inicia sesión</h1>
    <p>ingrese con su usuario y contraseña</p>
    </div>

    <div class="formulario">
        <% if (typeof errores != "undefined") { %>
            <ul>
                <% errores.forEach(error => { %>
                    <li>
                        <%- error.msg %>
                    </li>
                <% }) %>
            </ul>
        <% } %>
        <form action="" method="post">

            <label for="">Ingresa tu e-mail</label>
            <input type="text" placeholder="email" name="email">
            
            <label for="">Ingresa tu contraseña</label>
            <input type="password" placeholder="contraseña" name="password">
            
            <input type="checkbox" name="recordar" id="recordar">
            <label for="recordar">recordarme</label>

            <a href="">¿Olvidaste tu contraseña?</a>

            <button type="submit">iniciar sesión</button>
        </form>

        <hr width="100%">

        <div class="registro">
            <h2>Create una cuenta</h2>
            <p>¿no tienes una cuenta? registrate</p>
                <button><a href="/users/registro">Registrarse</a></button>
            </form>
        </div>
    </div>

    <%- include('partials/footer') %> 


    <%- include('partials/scripts') %> 
</body>
</html>