<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %>

    <div class="datosperfil">

        <h1>Mis datos</h1>
        
        <h2>Perfil</h2>

        <form action="/users/perfil/actualizado/<%= usuario.id %>/?_method=PUT" method="POST">
            <label for="">Nombre</label>
            <input type="text" name="name" value="<%= usuario.name %> ">

            <label for="">Apellido</label>
            <input type="text" name="lastname" value="<%= usuario.lastname %>">

            <label for="">Correo electronico</label>
            <input type="text" name="email" value="<%= usuario.email %>">

            <label for="">Numero de documento</label>
            <input type="text" name="dni" value="<%= usuario.dni %>">


        <h2>Ubicación</h2>

       
            <label for="">País de residencia</label>
            <input type="text">

            <label for="">Localidad</label>
            <input type="text" name="country"  value="<%= usuario.country %>">

            <button type="submit">Actualizar datos</button>
        </form>



    </div>



    <main class="container">
        <section>
            <div class="profile-image">

            </div>

            <div class="container">
                <ul>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                </ul>
            </div>

        </section>
    </main>


    <%- include('partials/footer') %> 


    <%- include('partials/scripts') %> 
</body>
</html>