<!DOCTYPE html>
<html>
  <%- include('partials/head') %> 
  <body>
    <%- include('partials/header') %>
    
    <main>
  
      <div class="titulo col-12">
        <h2>Productos</h2>
      </div>

      <div class="mr-3 ml-3">
        <form action="/productos/filter" method="get">
          <select class="form-select w-25 btn border bg-light" aria-label="select" name="categoria" id="categoria">
            <option value="0">categoria</option>
            <% rtacategorias.forEach(cadacategoria => { %>
              <option id="" value="<%= cadacategoria.id %>"><%= cadacategoria.category %> </option>
            <% }) %>
            <!-- <option value="1" id="1" name="1">accesorios</option>
            <option value="2" id="2" name="2">juegos</option> -->
          </select>
          <select class="form-select w-25 btn border bg-light" aria-label="select" name="marca" id="marca">
            <option value="0" selected>marca</option>
            <% rtamarcas.forEach(cadamarca => { %>
              <option id="" value="<%= cadamarca.id %>"><%= cadamarca.brand%> </option>
            <% }) %>
            <!-- <option value="1" id="1" name="1">accesorios</option>
            <option value="2" id="2" name="2">juegos</option> -->
          </select>
          <input class="btn btn-dark" type="submit" value="aplicar">
        </form>
      </div>

  
      <div class="contenedor-productos">
        <div class="fila">
            <% product.forEach(producto => { %>
              <div class="tarjeta-producto">
                <a href="/productos/detalle/<%= producto.id %>">
                  <div class="img-prod">
                    <img src="/images/productos/<%= producto.image %>" alt="">
                  </div>
                  <h3><%= producto.product_name%></h3>
                  <div class="descripcion">
                    <span class="precio">$ <%= toThousand(producto.price - producto.price * producto.discount / 100); %></span>
                    <% if(producto.discount != 0){ %> 
                    <span class="descuento"><%= producto.discount %>%</span>
                    <% } %>
                  </div>
                </a>
              </div>
            <% }) %>
        </div>
      </div>
    
    </main>

    <%- include('partials/footer') %> 


    <%- include('partials/scripts') %> 
  </body>
</html>