<!DOCTYPE html>
<html>
  <%- include('partials/head') %> 
  <body>
    <%- include('partials/header') %>
    
    <main>
  
      <div class="titulo col-12">
        <h2>Productos</h2>
      </div>

      <div class="col-12 bg-purple">
        <form action="/productos/filter" method="get" class="p-2 p-2">
            <label for="categoria" class="mr-3">Categorias</label>
            <select class="form-select w-25 btn border bg-light w-100 col-lg-3" aria-label="select" name="categoria" id="categoria">
              <option value="0">todas</option>
              <% rtacategorias.forEach(cadacategoria => { %>
                <option id="" value="<%= cadacategoria.id %>"><%= cadacategoria.category %> </option>
              <% }) %>
            </select>
            <label for="marca" class="mr-3 ml-3">Marcas</label>
            <select class="form-select btn border bg-light col-lg-3 w-100" aria-label="select" name="marca" id="marca">
              <option value="0">todas</option>
              <% rtamarcas.forEach(cadamarca => { %>
                <option id="" value="<%= cadamarca.id %>"><%= cadamarca.brand%> </option>
              <% }) %>
            </select>

            <input class="btn btn-light w-auto" type="submit" value="aplicar">
        </form>
      </div>

  
      <div class="contenedor-productos container">
        <div class="fila h-auto">
            <% product.forEach(producto => { %>
              <div class="tarjeta-producto">
                <a href="/productos/detalle/<%= producto.id %>">
                  <div class="img-prod">
                    <img src="/images/productos/<%= producto.image %>" alt="">
                  </div>
                  <h3><%= producto.product_name%></h3>
                  <div class="descripcion">
                    <span class="precio">$ <%= toThousand(producto.price - producto.price * producto.discount / 100); %></span>
                    <% if(producto.discount != 0){ %> 
                    <span class="descuento"><%= producto.discount %>%</span>
                    <% } %>
                  </div>
                </a>
              </div>
            <% }) %>
        </div>
      </div>
    
    </main>

    <%- include('partials/footer') %> 


    <%- include('partials/scripts') %> 
  </body>
</html>