<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>

    <%- include('partials/header') %>

    <div class="registrobody"></div>
    <div class="registrar">

    <h1>Creá tu cuenta</h1>
    
    <div class="registro">

    <hr width="100%">
    <h3>Completa tus datos personales</h3>
    <hr width="100%">

        <form action="" method="POST">
            <section>
            <label for="">Nombre</label>
            <input type="text" placeholder="Nombre" name="name">
            <span class="text-danger"><%= (typeof errores != 'undefined' && errores.name ? errores.name.msg : null)%></span>
            </section>

        <section>
            <label for="">Apellído</label>
            <input type="text" placeholder="Apellido" name="lastname">
            <span class="text-danger"><%= (typeof errores != 'undefined' && errores.lastname ? errores.lastname.msg : null)%></span>
        </section>
        
        <section>
            <label for="">Email</label>
            <input type="email" placeholder="E-mail" name="email">
            <span class="text-danger"><%= (typeof errores != 'undefined' && errores.email ? errores.email.msg : null)%></span>
        </section>

        <section>
            <label for="">N° de documento</label>
            <input type="text" placeholder="Numero de documento" name="dni">
            <span class="text-danger"><%= (typeof errores != 'undefined' && errores.documento ? errores.documento.msg : null)%></span>
        </section>

    
        <section>
            <label for="">Pais</label>
            <input type="text" placeholder="Localidad" name="country">
            <span class="text-danger"><%= (typeof errores != 'undefined' && errores.country ? errores.country.msg : null)%></span>
        </section>

        <section>
            <label for="">Clave</label>
            <input type="password" placeholder="Clave" name="password">
            <span class="text-danger"><%= (typeof errores != 'undefined' && errores.password ? errores.password.msg : null)%></span>
        </section>

        <section>
            <label for="">Confirmar clave</label>
            <input type="password" placeholder="Confirmar clave" name="password2">
            <span class="text-danger"><%= (typeof errores != 'undefined' && errores.password2 ? errores.password2.msg : null)%></span>
        </section>

            <button>REGISTRARME</button>
        </div>
        </form>

    </div>
</div>

</div>



<%- include('partials/footer') %> 

<%- include('partials/scripts') %> 
</body>
</html>