<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>

    <%- include('partials/header') %>

    <div class="registrobody"></div>
    <div class="registrar">

    <h1>Creá tu cuenta</h1>
    
    <div class="registro">

    <!-- <hr width="100%"> -->
        <h3>Completa tus datos personales</h3>
        <!-- <hr width="100%"> -->

            <form action="" method="POST" id="form"> 
                <div class="box-form">
                    <section class="primeracolumna">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre" name="name" id="name" value="<%= (typeof old != 'undefined' && old.name ? old.name : null) %>">
                        <span class="text-danger" id="nameErrors"><%= (typeof errores != 'undefined' && errores.name ? errores.name.msg : null)%></span>
                    </section>
    
                    <section class="primeracolumna">
                        <label for="">Apellído</label>
                        <input type="text" class="form-control" placeholder="Apellido" name="lastname" id="lastName" value="<%= (typeof old != 'undefined' && old.lastname ? old.lastname : null) %>">
                        <span class="text-danger" id="lastNameErrors"><%= (typeof errores != 'undefined' && errores.lastname ? errores.lastname.msg : null)%></span>
                    </section>
                    
                    <section class="primeracolumna">
                        <label for="">Email</label>
                        <input type="email" class="form-control"  placeholder="E-mail" name="email" id="email" value="<%= (typeof old != 'undefined' && old.email ? old.email : null) %>">
                        <span class="text-danger" id="emailErrors"><%= (typeof errores != 'undefined' && errores.email ? errores.email.msg : null)%></span>
                    </section>
                </div>
                <div class="box-form">
                    <section class="segundacolumna">
                        <label for="">N° de documento</label>
                        <input type="text" class="form-control"  placeholder="Numero de documento" name="dni" id="dni" value="<%= (typeof old != 'undefined' && old.dni ? old.dni : null) %>">
                        <span class="text-danger" id="dniErrors"><%= (typeof errores != 'undefined' && errores.documento ? errores.documento.msg : null)%></span>
                    </section>
    
                
                    <section class="segundacolumna">
                        <label for="">Provincia</label>
                        <select id="country"   name="country" class="form-control">
                            <option value="" >Seleccione una provincia</option>
                        </select>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.country ? errores.country.msg : null)%></span>
                    </section> 
                </div>
                <div class="box-form">
                    <section class="segundacolumna">
                        <label for="">Clave</label>
                        <input type="password"  class="form-control" placeholder="Clave" name="password" id="pass">
                        <span class="text-danger" id="passErrors"><%= (typeof errores != 'undefined' && errores.password ? errores.password.msg : null)%></span>
                    </section>
    
                    <section class="segundacolumna">
                        <label for="">Confirmar clave</label>
                        <input type="password" class="form-control" placeholder="Confirmar clave" name="password2" id="pass2">
                        <span class="text-danger" id="pass2Errors"><%= (typeof errores != 'undefined' && errores.password2 ? errores.password2.msg : null)%></span>
                    </section>
                </div>
                <div  class="container mt-4 text-danger">
                    <span id="submitErrors"></span>
                </div>
                    
                    <button>REGISTRARME</button>
            </form>

        </div>
    </div>



<script src="/javascripts/registro.js"></script>
<%- include('partials/footer') %> 

<%- include('partials/scripts') %> 
</body>
</html>