<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <main>
        <div class="adminagregarproducto">
        <div class="contenedor-crear container col-12 mt-5">
            <h2 class="col-12 mb-5">Agregar producto</h2>

            <form action="/admin/productos/create" method="POST" enctype="multipart/form-data" id="form"> 
            
    <div class="box-form">
            <section class="primeracolumna">
                <input type="text" name="nombre" id="nombre" value="" class="" placeholder="Nombre">
                <span id="nameErrors" class="text-danger"><%= (typeof errores != "undefined" && errores.nombre ? errores.nombre.msg : null) %></span>
            </section>
            <section class="primeracolumna">
                <input type="text" name="precio" id="precio" value="" class="" placeholder="Precio">
                <span id="priceErrors" class="text-danger"><%= (typeof errores != "undefined" && errores.precio ? errores.precio.msg : null) %></span>
            </section>
            <section class="primeracolumna">
                <input type="text" name="sku" id="sku" value="" class="" placeholder="SKU">
                <span id="skuErrors" class="text-danger"><%= (typeof errores != "undefined" && errores.sku ? errores.sku.msg : null) %></span>
            </section>
    </div>

    <div class="box-form">
                <section class="segundacolumna">
                <input type="text" name="stock" id="stock" value="" class="" placeholder="stock">
                <span id="stockErrors" class="text-danger"><%= (typeof errores != "undefined" && errores.stock ? errores.stock.msg : null) %></span>
            </section>

            <section class="segundacolumna">
                <input type="text" name="descuento" id="descuento" value="" class="" placeholder="con o sin descuento">
                <span id="discountErrors" class="text-danger"><%= (typeof errores != "undefined" && errores.descuento ? errores.descuento.msg : null) %></span>
            </section>

            <section class="segundacolumna">
                <input type="file" name="img" value="" id="file" class="">  <!-- dentro de la class col-3 mb-3 -->
                <span id="fileErrors" class="text-danger"><%= (typeof errores != "undefined" && errores.img ? errores.img.msg : null) %></span>
            </section>
    </div>

                <!-- <input type="text" name="detalle" id="detalle" value="" class="col-3 mb-3"  placeholder="Detalle">
                <span id="detailError"></span> -->
    <div class="box-form">

        <section class="tercercolumna">
                <select name="categoria" id="categoria" class="col-9 ml-5">
                    <option disabled="enable" selected>Categoria</option>
                        <% rtacategorias.forEach(cadacategoria => { %>
                          <option id="" value="<%= cadacategoria.id %>"><%= cadacategoria.category %> </option>
                        <% }) %>
                </select>
                <span id="categoryErrors" class="text-danger mr-5"><%= (typeof errores != "undefined" && errores.categoria ? errores.categoria.msg : null) %></span>
   </section>

   <section class="tercercolumna">
                <select name="marcas" id="marcas" class="col-9 ml-5">
                    <option disabled="enable" selected>Marcas</option>
                    <% rtamarcas.forEach(cadamarca=>{ %> 
                        <option id=""value="<%= cadamarca.id %>"><%= cadamarca.brand %> </option>
                    <% }) %> 
                </select>
                <span id="brandErrors" class="text-danger mr-5"><%= (typeof errores != "undefined" && errores.marcas ? errores.marcas.msg : null) %></span>
    </section>
   </div>
                <!-- <input type="file" name="img" value="" id="img" class="col-3 mb-3"> -->
    <div class="box-form">
        <section class="cuartacolumna">
                <textarea name="descripcion" id="descripcion" cols="90%" rows="5" class="" placeholder="Ingresa descripcion del producto"></textarea> <!-- col-9 mb-5 mt-4 -->
                <span id="descriptionErrors" class="text-danger"><%= (typeof errores != "undefined" && errores.descripcion ? errores.descripcion.msg : null) %></span>
        </section> 
     </div>


    <div class="d-flex flex-row justify-content-center box-form">
                <section class="quintacolumna">
                <span id="submitErrors" class="text-danger"></span>
                <button type="submit" class="btn btn-success justify-content-center mb-2 w-50 ">Agregar producto</button>
                <a href="/admin/productos" class="btn btn-danger justify-content-center ml-2 mb-2 w-50">Cancelar</a>
            </section>
     </div>
            </form>
        </div>
    </div>
    </main>

<script src="/javascripts/productAdmin.js"></script>
<%- include('partials/scripts') %> 
</body>
</html>
