<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <main>
        <div class="contenedor-crear container col-12 mt-5">
            <h2 class="col-12 mb-5">Agregar producto</h2>
            <form action="/admin/productos/create" method="POST" enctype="multipart/form-data">
                <input type="text" name="nombre" id="nombre" value="" class="col-3 mb-2" placeholder="Nombre">
                <input type="text" name="precio" id="precio" value="" class="col-3 mb-3" placeholder="Precio">
                <input type="text" name="sku" id="sku" value="" class="col-3 mb-3" placeholder="SKU">
                <input type="text" name="stock" id="stock" value="" class="col-3 mb-3" placeholder="stock">
                <input type="text" name="descuento" id="descuento" value="" class="col-3 mb-3" placeholder="con o sin descuento">
                <input type="text" name="detalle" id="detalle" value="" class="col-3 mb-3"  placeholder="Detalle">

                <select name="categoria" id="categoria" class="col-3">
                    <option disabled="enable" selected>Categoria</option>
                        <% rtacategorias.forEach(cadacategoria => { %>
                          <option id="" value="<%= cadacategoria.id %>"><%= cadacategoria.category %> </option>
                        <% }) %>
                </select>

                <select name="marcas" id="marcas" class="col-3">
                    <option disabled="enable" selected>Marcas</option>
                    <% rtamarcas.forEach(cadamarca=>{ %> 
                        <option id=""value="<%= cadamarca.id %>"><%= cadamarca.brand %> </option>
                    <% }) %> 
                </select>

                <input type="file" name="img" value="" id="img" class="col-3 mb-3">
                <textarea name="descripcion" id="descripcion" cols="90%" rows="5" class="col-9 mb-5" placeholder="Ingresa descripcion de l producto"></textarea>

                <button type="submit" class="btn btn-success col-9 justify-content-center mb-2">Agregar producto</button>
                <a href="/admin/productos" class="btn btn-danger col-9 justify-content-center mb-5">Cancelar</a>

            </form>
        </div>
    </main>

<%- include('partials/scripts') %> 
</body>
</html>
