<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <main>
        <div class="cajaFormularioEdit">
            
            <!-- para el panel d productos....
            <form action="" method="get" class="col-12">
                <input type="search" name="" value="" class="col-6 mb-5 justify-content-left" placeholder="buscar" >
            </form> -->
            <form class="formEditar" action="/admin/productos/update/<%= rtaproducto.id %>/?_method=PUT " method="POST">
                <div>     
                    <h2>Modificar producto</h2>
                </div>
                <div class="">
                  <label for="nombre" class="">Nombre: </label>
                  <input type="text" name="nombre" value="<%= rtaproducto.product_name%> " id="nombre">
                </div>
                <div class="">
                    <label for="sku" class="">Sku: </label>
                    <input type="text" name="sku" value="<%= rtaproducto.sku %>" id="sku">
                  </div>
                  <div class="">
                    <label for="precio" class="">Precio: </label>
                    <input type="text" name="precio" value="<%= rtaproducto.price %>" id="precio">
                  </div>
                  <div class="">
                    <label for="stock" class="">Stock: </label>
                    <input type="text" name="stock" value="<%= rtaproducto.stock %>" id="stock">
                  </div>
                  <div class="">
                    <label for="descuento" class="">Descuento: </label>
                    <input type="text" name="descuento" value="<%= rtaproducto.discount %>" id="descuento">
                  </div>
                  <div>
                    <select name="categoria" id="">
                      <% rtacategorias.forEach(cadacategoria => { %>
                        <option <%= cadacategoria.id == rtaproducto.category_id ? 'selected' : null %> value="<%= cadacategoria.id %>"  > <%= cadacategoria.category %> </option>
                     <% }) %> 
                    </select>
                  
                  
                    <select name="marca" id="">
                      <% rtamarcas.forEach(cadamarca => { %>
                           <option <%= cadamarca.id == rtaproducto.brand_id ? 'selected' : null %> value="<%= cadamarca.id %>"  > <%= cadamarca.brand %> </option>
                      <% }) %> 
                    </select>
                  </div>
                   

                  <div class="">
                    <label for="Descripcion" class="">Descripcion: </label> <br>
                    <textarea name="descripcion" id="descripcion" cols="60" rows="4"><%= rtaproducto.description %>
                    </textarea>
                  </div>
                  <div class="">
                    <label for="formFile" class="">Imagen: </label>
                    <input class="" type="file" name="imagen" id="formFile">
                  </div>
                
                <div>
                    <a href="/admin/productos" class="btn btn-danger px-5">Cancelar</a>
                    <button type="submit" class="btn btn-success px-5">Modificar</button>
                </div>
              </form>
        </div>
           
    </main>
    <%- include('partials/scripts') %> 
</body>
</html>