<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <main>
        <div class="cajaFormularioEdit">
            
            <!-- para el panel d productos....
            <form action="" method="get" class="col-12">
                <input type="search" name="" value="" class="col-6 mb-5 justify-content-left" placeholder="buscar" >
            </form> -->
            <form class="formEditar" id="form" action="/admin/productos/update/<%= rtaproducto.id %>?_method=PUT " method="POST">
                <div>     
                    <h2>Modificar producto</h2>
                </div>
                <div class="">
                  <label for="product_name" class="">Nombre: </label>
                  <input type="text" name="product_name" value="<%= rtaproducto.product_name %>" id="product_name">
                  <span id="nombreErrors" class="text-danger"><%= (typeof errores  != 'undefined' && errores.product_name)?errores.product_name.msg : null %>  </span>
                </div>
                <div class="">
                    <label for="sku" class="">Sku: </label>
                    <input type="text" name="sku" value="<%= rtaproducto.sku %>" id="sku">
                    <span id="skuErrors" class="text-danger"><%= (typeof errores != 'undefined' && errores.sku) ? errores.sku.msg : null %> </span>
                  </div>
                  <div class="">
                    <label for="price" class="">Precio: </label>
                    <input type="text" name="price" value="<%= rtaproducto.price %>" id="price">
                    <span id="precioErrors" class="text-danger"><%= (typeof errores!= 'undefined' && errores.price) ? errores.price.msg : null  %> </span>
                  </div>
                  <div class="">
                    <label for="stock" class="">Stock: </label>
                    <input type="text" name="stock" value="<%= rtaproducto.stock %>" id="stock">
                    <span id="stockErrors" class="text-danger"><%=(typeof errores != 'undefined' && errores.stock) ? errores.stock.msg : null%> </span>
                  </div>
                  <div class="">
                    <label for="discount" class="">Descuento: </label>
                    <input type="text" name="discount" value="<%= rtaproducto.discount %>" id="discount">
                    <span id="descuentoErrors" class="text-danger"><%= (typeof errores != 'undefined' && errores.discount) ? errores.discount.msg : null %> </span>
                  </div>
                  <div class="">
                    <select name="categoria" id="categorias">
                      <% rtacategorias.forEach(cadacategoria => { %>
                        <option <%= cadacategoria.id == rtaproducto.category_id ? 'selected' : null %> value="<%= cadacategoria.id %>"  > <%= cadacategoria.category %> </option>
                     <% }) %> 
                    </select>
                  </div>

                  <div class="">
                    <select name="marcas" id="marcas">
                      <% rtamarcas.forEach(cadamarca => { %>
                           <option <%= cadamarca.id == rtaproducto.brand_id ? 'selected' : null %> value="<%= cadamarca.id %>"> <%= cadamarca.brand %> </option>
                      <% }) %> 
                    </select>
                  </div>
                   

                  <div class="">
                    <label for="Descripcion" class="">Descripcion: </label> <br>
                    <textarea name="descripcion" id="descripcion" cols="60" rows="4"><%= rtaproducto.description %>
                    </textarea>
                    <span id="descripcionErrors" class="text-danger"><%= (typeof errores != 'undefined' && errores.descripcion ? errores.descripcion.msg : null) %> </span>

                  </div>
                  <div class="">
                    <label for="formFile" class="">Imagen: </label>
                    <input class="" type="file" name="imagen" id="file">
                    <span id="fileErrors" class="text-danger"></span>
                  </div>
                
                <div>
                  <span id="submitErrors" class="text-danger"></span>
                    <a href="/admin/productos" class="btn btn-danger px-5">Cancelar</a>
                    <button type="submit" class="btn btn-success px-5">Modificar</button>
                </div>
                <input class="display-none" type="text" name="id" value="<%= rtaproducto.id %>">
              </form>
        </div>
           
    </main>


    <%- include('partials/scripts') %> 
    <script src="/javascripts/editProduct.js"></script>
</body>
</html>