<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <main>
        <div class="contenedor-crear mb-5 col-12 mb-5 mt-5 container">
            <h2 class="col-12 mb-5 center">Listado de productos</h2>
            <a href="/admin/productos/create" class="btn btn-success mb-5 mr-2 ">Agregar Producto</a>
            <button class="btn btn-success mb-5" onclick="myFunction()">buscar  <i class="fas fa-search"></i></button>
            <div class="scroll">
                <table class="table table-striped">
                    <tr>
                        <th>Nombre</th>
                        <th>Sku</th>
                        <th>Precio</th>
                        <th>Descuento</th>
                        <th>Stock</th>
                        <th>Categoria</th>
                        <th>Marca</th>
                        <th>Descripcion</th>
                        <th>Imagen</th>
                        <th>Operaciones</th>
                    </tr>
                    <% productos.forEach(elemento => { %>
                    <tr>
                        <td><%= elemento.product_name %></td>
                        <td><%= elemento.sku %></td>
                        <td><%= elemento.price %></td>
                        <td><%= elemento.discount%></td>
                        <td><%= elemento.stock %></td>
                        <td><%= elemento.categorias.category %></td>
                        <td><%= elemento.marcas.brand %></td>
                        <td><%= elemento.description %></td>
                        <td><%= elemento.image %></td>
                        
                        <td><form action="" class="d-inline ">
                                <a href="/admin/productos/editar/<%= elemento.id %>" class="btn btn-success"><i class="fas fa-edit"></i></a>
                            </form>
                            <form class=" d-inline formDelete" action="/admin/productos/delete/<%= elemento.id %>?_method=DELETE" method="POST" class="d-inline p-2 formDelete">
                                <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                  
                    <% }) %>
                </table>
            </div>
        </div>
    </main>

   
        <div class="mobilepanelproduct">
            
            <% productos.forEach(element => { %>

                <div class="cardpanelproduct" style="background-color: #7367F0;">
                <div class="imagenpaneltamano">
                    <img src="/images/productos/<%= element.image %>" class="card-img-top" alt="...">  
                </div>     <!-- imagenpaneltamano   -->      
                    <div class="card-body">
                        <div class="divcard-titlename">
                      <h5 class="card-titlename"><%= element.product_name %></h5>
                      <h6 class="card-titlesku"><%= element.sku %></h6>
                    </div> <!-- divcard-titlename -->

                      <p class="card-titledescription"><%= element.description %></p>

                      <div class="descbrandpanel">
                        <h6 class="descbrandpanel1"><%= element.categorias.category %></h6>
                        <h6 class="descbrandpanel2"><%= element.marcas.brand %></h6>
                      </div>

                      <div class="reyusadocard" style="background-color: #9f98ec;">
                      <div class="usadocard-discount">
                          <h6>Descuento</h6>
                          <p><%= element.discount %></p>
                      </div> <!-- card stats -->

                      <div class="usadocard-price">
                        <h6>Precio</h6>
                        <p><%= element.price %></p>
                    </div> <!-- card stats -->

                    <div class="usadocard-stock">
                        <h6>Stock</h6>
                        <p><%= element.stock %></p>
                    </div> <!-- card stats -->

                </div> <!-- rey de usadocard -->
                <div class="divbotonespanel">
                    <form action="" class="d-inline">
                        <a href="/admin/productos/editar/<%= element.id %>" class="btn btn-success w-50"><i class="fas fa-edit"></i></a>
                    </form>
                    <form class=" d-inline formDelete" action="/admin/productos/delete/<%= element.id %>?_method=DELETE" method="POST" class="d-inline p-2 formDelete">
                        <button class="btn btn-danger ml-5 w-25" type="submit"><i class="fas fa-trash"></i></button>
                    </form>
                </div>
                    </div><!--  card-body -->
                  </div>
           
            <% }) %>
        </div> <!-- mobilepanelproduct -->
       

    <%- include('partials/scripts') %> 

    <script src="/javascripts/eliminar.js"></script>

    <script>
        function myFunction() {
         
            var search = prompt("Termino de busqueda:");
            if (search == null || search == "") {
                alert("User cancelled");
            } else {
                find(search)
            }
           
        }
    </script>
</body>
</html>